.mediaContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    > .video {
        width: 100%;
        height: 100%;
        background-color: transparent;
        overflow: hidden;
    }

    > .picture {
        width: 100%;
        height: 100%;
        object-position: center;
    }

    > .picture.fitHeight {
        width: auto;
    }

    > .picture.fitWidth {
        height: auto;
    }

    > .picture.crop {
        object-fit: cover;
    }

    > .picture.letterbox {
        object-fit: contain;
    }
}

.mediaContainer.picture.fitWidth {
    flex-direction: row;
}

.mediaContainer.picture.fitHeight {
    flex-direction: column;
}

.video.intro, 
.picture.intro {
    animation: fadein 250ms linear 0s normal;
}

.video.outro, 
.picture.outro {
    animation: fadeout 250ms linear 0s normal;
}

/* Animations. Code depends on the animation names. */
@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

video::-internal-media-controls-overlay-cast-button {
    display: none;
}
